@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
/* ---- @imports go above ---- */

* {
	box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, a {
	color: #fff;
}
body {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}
h1 {}
h2 {
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 10px 0;
}
h3 {
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 25px 0;
}
p {
	font-size: 12px;
	line-height: 1.8em;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 20px;
}

.text-center {
	text-align: center;
}

/* ============================================================================
Header Section
 ============================================================================*/
header.top-nav {
	background: #323232;
	text-align: center;
	height: 63px;
	padding: 10px 0 10px 0;
}
.top-nav .logo {
	position: relative;
	margin: 0 auto;
}
.top-nav .nav {
	text-align: center;
	position: relative;
	top: -45px;
}
.top-nav .nav:after {
	content: '';
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-top: 26px solid #323232;
	position: relative;
	top: 49px;
	z-index: 3;
	margin: 0 auto;
}
.top-nav ul > li {
	display: inline-block;
	font-size: 10px;
}
.top-nav ul > li:before {
	content: '\2027';
	position: relative;
	margin: 0 12px 0 10px;
	color: #494e62;
}
.top-nav ul > li:nth-child(odd):before {
	content: '';
	margin: 0;
}
.top-nav ul > li:nth-child(2) {
	margin: 0 140px 0 0;
}
.top-nav ul > li > a {
	text-transform: uppercase;
	transition: all .25s ease;
}
.top-nav ul > li > a:hover {
	color: #2eb398;
}
.top-nav .nav-border {
	display: block;
	position: relative;
	top: -39px;
	width: 100%;
	height: 1px;
	margin: 0 auto;
}
.top-nav .nav-border:before, .top-nav .nav-border:after {
	content: '';
	display: inline-block;
	position: relative;
	width: calc((100% - 140px) / 2);
	border-bottom: 1px solid #e4e9eb;
}
.top-nav .nav-border:before {
	margin: 0 70px 0 0;
}
.top-nav .nav-border:after {
	margin: 0 0 0 70px;
}

/* ============================================================================
Portfolio Section
 ============================================================================*/
section.portfolio-section {
	padding: 90px 0;
}
.wrap:after {
	content: '';
	display: block;
	padding: 0 30px;
	border-bottom: 1px solid #e4e9eb;
	position: relative;
	top: 79px;
}
.hex-row1 {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	margin: 0 0 -40px 0;
}
.hex-row2 {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.hex-row3 {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	margin: -40px 0 0 0;
}
.hex-row1:before, .hex-row3:before {
	content: '';
	width: 1px;
	height: 104px;
	float: left;
	background: #e4e9eb;
	position: relative;
	left: -20px;
	top: 52px;
}
.hex-row1:after, .hex-row3:after {
	content: '';
	width: 1px;
	height: 104px;
	float: right;
	background: #e4e9eb;
	position: relative;
	right: -20px;
	top: 52px;
}
ul[class*="hex-row"] > .hexagon:last-child {
	margin: 0;
}
.hexagon {
    margin: 0 20px 0 0;
}
.wrap {
	position: relative;
	z-index: 10;
	text-align: center;
}
.svg-wrap {
	position: relative;
	color: #fff;
	text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.svg-wrap li {
	display: inline-block;
	float: left;
}
.svg-graphic {
	position: relative;
	display: block;
	z-index: 0;
}
svg image {
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
}
svg polygon:hover {
	opacity: 1;
}
svg a:hover image {
	opacity: 0.4;
}

/* ============================================================================
About Section
 ============================================================================*/
section.about-section {
	background: #2eb398;
}
.about-section .container {
	padding: 12px 100px;
}
.about-section .inner-container {
	padding: 68px 30px;
	border: 1px solid #219d84;
	border-top: 0;
	border-bottom: 0;
}
.about-section .hexagon {
	float: left;
}
.about-section h2, .about-section p {
	color: #d7fcf5;
}
.about-section h3 {
	color: #20816d;
}
.about-section p {
	color: #d7fcf5;
}
.about-section .follow-me {
	float: right;
	margin: 25px 0 0 0;
}
.about-section .follow-me li {
	display: inline-block;
	float: left;
	text-align: center;
}
	.follow-me .facebook {
		background: #a4dbd4;
	}
	.follow-me .twitter {
		background: #6ccbbe;
	}
	.follow-me .google {
		background: #7ed0c5;
	}
	.follow-me .pinterest {
		background: #abddd7;
	}
	.follow-me .linkedin {
		background: #acddd7;
	}
	.follow-me .dribbble {
		background: #6dcbbe;
	}
.about-section .follow-me li > a {
	color: #02ac95; 
}
.about-section .follow-me li > a > i {
	display: block;
	width: 25px;
	height: 25px;
	padding: 4.5px;
}

/* Begin Responsive Styling */
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1139px) {}
@media (min-width: 1280px) {}

/* Responsive Visibilty Classes */

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-phone {
        display: inherit !important;
    }

    .hidden-phone {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1139px) {
    .visible-tablet {
        display: inherit !important;
    }

    .hidden-tablet {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important ;
    }
}





