@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
/* ---- @imports go above ---- */

* {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body, h1, h2, h3, h4, h5, h6, p, a {
	color: #fff;
}
body {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}
h1 {}
h2 {
	font-size: 1.875rem;
	font-weight: 400;
	margin: 0 0 10px 0;
}
h3 {
	font-size: 1.125rem;
	font-weight: 400;
	margin: 0 0 25px 0;
}
p {
	font-size: 0.75rem;
	line-height: 1.375rem;
}
a {
	text-decoration: none;
}
.container {
	max-width: 53.125%;
	margin: 0 auto;
	padding: 0 20px;
}

.text-center {
	text-align: center;
}

/* ============================================================================
Header Section
 ============================================================================*/
header.top-nav {
	background: #323232;
	text-align: center;
	height: 63px;
	padding: 10px 0 10px 0;
}
	.top-nav .logo {
		position: relative;
		margin: 0 auto;
		z-index: 1;
	}
	.top-nav .nav {
		text-align: center;
		position: relative;
		top: -45px;
	}
		.top-nav .nav:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 45px solid transparent;
			border-right: 45px solid transparent;
			border-top: 26px solid #323232;
			position: relative;
			top: 49px;
			margin: 0 auto;
		}
		.top-nav ul > li {
			display: inline-block;
			font-size: 0.625rem;
		}
			.top-nav ul > li:before {
				content: '\2027';
				position: relative;
				margin: 0 12px 0 10px;
				color: #494e62;
			}
			.top-nav ul > li:nth-child(odd):before {
				content: '';
				margin: 0;
			}
			.top-nav ul > li:nth-child(2) {
				margin: 0 13.7254902% 0 0;
			}
			.top-nav ul > li > a {
				text-transform: uppercase;
				transition: all .25s ease;
			}
			.top-nav ul > li > a:hover {
				color: #2eb398;
			}
		.top-nav .nav-border {
			display: block;
			position: relative;
			top: -39px;
			width: 100%;
			height: 1px;
			margin: 0 auto;
		}
			.top-nav .nav-border:before, .top-nav .nav-border:after {
				content: '';
				display: inline-block;
				position: relative;
				width: calc((100% - 140px) / 2);
				border-bottom: 1px solid #e4e9eb;
			}
			.top-nav .nav-border:before {
				margin: 0 70px 0 0;
			}
			.top-nav .nav-border:after {
				margin: 0 0 0 70px;
			}

/* ============================================================================
Portfolio Section
 ============================================================================*/
section.portfolio-section {
	padding: 90px 0;
}
	.wrap {
		position: relative;
		z-index: 10;
		text-align: center;
	}
		.wrap:after {
			content: '';
			display: block;
			padding: 0 30px;
			border-bottom: 1px solid #e4e9eb;
			position: relative;
			top: 79px;
		}
	.svg-wrap {
		position: relative;
		color: #fff;
		text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	}
		.svg-wrap li {
			display: inline-block;
			float: left;
			transition: all .15s ease;
		}
		.svg-wrap li:nth-child(even):hover {
			transform: rotate(-10deg);
		}
		.svg-wrap li:nth-child(odd):hover {
			transform: rotate(10deg);
		}
	.hex-row1 {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		margin: 0 0 -40px 0;
	}
	.hex-row2 {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
	}
	.hex-row3 {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		margin: -40px 0 0 0;
	}
		.hex-row1:before, .hex-row3:before {
			content: '';
			width: 1px;
			height: 104px;
			float: left;
			background: #e4e9eb;
			position: relative;
			left: -20px;
			top: 52px;
		}
		.hex-row1:after, .hex-row3:after {
			content: '';
			width: 1px;
			height: 104px;
			float: right;
			background: #e4e9eb;
			position: relative;
			right: -20px;
			top: 52px;
		}
		ul[class*="hex-row"] > .hexagon:last-child {
			margin: 0;
		}
	.hexagon {
	    margin: 0 20px 0 0;
	}
		.hexagon .svg-graphic {
			position: relative;
			display: block;
			z-index: 0;
		}
			svg image {
				-webkit-transition: opacity 300ms ease;
				-moz-transition: opacity 300ms ease;
				transition: opacity 300ms ease;
			}
			svg polygon:hover {
				opacity: 1;
			}
			svg a:hover image {
				opacity: 0.4;
			}

/* ============================================================================
About Section
 ============================================================================*/
section.about-section {
	background: #2eb398;
}
	.about-section .container {
		padding: 12px 100px;
	}
		.about-section .inner-container {
			padding: 68px 30px;
			border: 1px solid #219d84;
			border-top: 0;
			border-bottom: 0;
		}
			.about-section .hexagon {
				float: left;
			}
		.about-section h2, .about-section p {
			color: #d7fcf5;
		}
		.about-section h3 {
			color: #20816d;
		}
		.about-section p {
			color: #d7fcf5;
		}
		.about-section .follow-me {
			float: right;
			margin: 25px 0 0 0;
		}
			.about-section .follow-me li {
				display: inline-block;
				float: left;
				text-align: center;
			}
				.follow-me .facebook {
					background: #a4dbd4;
				}
				.follow-me .twitter {
					background: #6ccbbe;
				}
				.follow-me .google {
					background: #7ed0c5;
				}
				.follow-me .pinterest {
					background: #abddd7;
				}
				.follow-me .linkedin {
					background: #acddd7;
				}
				.follow-me .dribbble {
					background: #6dcbbe;
				}
				.about-section .follow-me li > a {
					color: #02ac95; 
				}
				.about-section .follow-me li > a > i {
					display: block;
					width: 25px;
					height: 25px;
					padding: 4.5px;
				}

/* ============================================================================
Contact Section
=============================================================================*/
section.contact-section {
	padding: 68px 0;
	background: #323232;
}
	.contact-section .container {
		padding: 0 30px;
	}
	.contact-section .wrapper {
		padding: 0 70px;
	}
	.contact-section .container:before, .contact-section .container:after {
		content: '';
		display: block;
		padding: 0 30px;
		border-bottom: 1px solid #2b2b2b;
		position: relative;
	}
	.contact-section .container:before {
		top: -56px;
	}
	.contact-section .container:after {
		top: 56px;
	}
		.contact-section h2 {
			color: #e0e0e0;
		}
		.contact-section h3 {
			color: #bebebe;
		}
		.contact-row {
			margin: 25px 0 0 0;
		}
			.contact-form {
				width: calc((100% * (2/3)) - 20px);
				display: inline-block;
				float: left;
				margin: 0 20px 0 0;
				font-weight: 400;
				font-size: 0.75rem;
				line-height: 1.5rem;
			}
				.contact-form input.input,
				.contact-form textarea.input {
					display: block;
					width: 100%;
					margin: 0 0 16px 0;
					padding: 13px 15px;
					background: #454545;
					border: 0;
					border-radius: 1px;
					transition: all 0.35s ease;
				}
				.contact-form input.input:focus,
				.contact-form textarea.input:focus {
					outline: 0px;
					-webkit-transform: scale(1.025);
					        transform: scale(1.025);
					position: relative;
					z-index: 1;
					/*box-shadow: inset 0 0 0 1px #f0d8d9;*/
				}

				/* ---- Placeholder text vendor prefixes ---- */
					.contact-form .input::-webkit-input-placeholder { color: #bebebe; font-weight: 400; }
					.contact-form .input::-moz-placeholder { color: #bebebe; font-weight: 400; }
					.contact-form input.input:-moz-placeholder { color: #bebebe; font-weight: 400; }
					.contact-form .input:-ms-input-placeholder { color: #bebebe; font-weight: 400; }
				/* ---- End placeholder text vendor prefixes ---- */

					.contact-form .input:last-child {
						margin: 0;
					}
				.contact-form input.input {
					height: 38px;
				}
				.contact-form textarea.input {
					height: 200px;
					resize: none;
				}
				.contact-form input[type="submit"] {
					float: right;
					padding: 14px 35px;
					background: #2eb398;
					border: none;
					text-transform: uppercase;
					font-size: 0.75rem;
				}
			.contact-sidebar {
				width: calc(100% * (1/3));
				display: inline-block;
				float: left;
			}
				.contact-sidebar ul {
					max-width: 100%;
					list-style: none;
					margin: 45px 0 0 0;
				}
					.contact-sidebar ul > li > div {
						display: inline-block;
						width: 12px;
						height: 12px;
						margin: 0 10px 0 0;
						text-align: center;
						color: #2eb398;
					}
					.contact-sidebar ul > li:nth-child(1) > div > i {
						position: relative;
						left: 2px;
					}
					.contact-sidebar ul > li:nth-child(2) > div > i {
						position: relative;
						left: 1px;
					}
					.contact-sidebar p {
						display: inline-block;
						font-size: 0.75rem;
						color: #bebebe;
					}
						.contact-sidebar p > span {
							font-weight: 900;
							color: #e0e0e0;
						}

/* Responsive Visibilty Classes */

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-phone {
        display: inherit !important;
    }

    .hidden-phone {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1139px) {
    .visible-tablet {
        display: inherit !important;
    }

    .hidden-tablet {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important ;
    }
}
/* Begin Responsive Styling */
@media (min-width: 1280px) {}
@media (min-width: 768px) and (max-width: 1139px) {}
@media (max-width: 767px) {}





